In [1]:
import pandas as pd

In [4]:
# pip install xlrd
# pip install openpyxl

In [6]:
xlsfile = pd.ExcelFile('E:/excel udemy/1.+PivotTable.xlsx')

In [8]:
dframe = xlsfile.parse('Pivot')
# dframe = xlsfile.parse('Sheet1')

In [9]:
dframe

,ID,Last name,First name,Region,Designation,Date of Birth,Date of Joining,Net Salary,Working Hours
0,101,Davis,Sara,East,Sales Rep.,1968-08-12,2007-01-01,6821.8,6
1,102,Fontana,Olivier,North,V.P. of Sales,1968-02-19,2006-09-23,54600.0,10
2,103,Leal,Karina,North,Sales Rep.,1963-08-30,2007-06-10,6914.2,5
3,104,Patten,Michael,West,Sales Rep.,1958-09-19,2005-06-03,6070.0,4
4,105,Burke,Brian,West,Sales Mgr.,1955-04-03,1999-05-09,17123.6,4
5,106,Sousa,Luis,South,Sales Rep.,1963-02-07,1998-05-12,6535.2,9
6,107,John,Smith,East,Sales Exec.,1968-08-07,2002-06-14,8973.4,7
7,108,Jones,David,West,Sales Exec.,1969-09-22,2009-08-21,9221.2,5
8,109,Johnson,Michael,North,Sales Exec.,1979-09-24,2003-10-06,11985.0,6
9,110,Lee,Chris,East,Sales Rep.,1976-03-15,2001-07-18,6652.0,8
10,111,Brown,Mike,West,Sales Rep.,1976-04-25,2010-07-15,6119.0,4
11,112,Williams,Mark,North,Sales Rep.,1975-07-14,2000-03-17,7642.0,7
12,113,Rodriguez,Paul,East,Sales Mgr.,1979-03-11,2008-10-01,12589.8,4
13,114,Garcia,Daniel,South,A.V.P. of Sales,1979-10-15,2008-11-11,29000.0,3
14,115,Gonzalez,James,South,Sales Exec.,1975-01-05,2007-09-02,11974.4,3
15,116,Lopez,Maria,East,Sales Exec.,1970-04-14,2006-04-22,11630.0,6
16,117,John,Sara,West,Sales Exec.,1968-12-16,2005-03-29,10493.0,10
17,118,Joe,Olivier,North,Sales Exec.,1973-04-19,2007-12-20,9545.0,5
18,119,Bob,Karina,South,Sales Exec.,1972-04-10,2001-04-15,10950.6,6
19,120,John,Michael,South,Sales Rep.,1974-02-28,2005-07-05,7668.8,8
20,121,Juan,Carlos,East,Sales Rep.,1973-06-12,2005-06-21,7621.0,5
21,122,Jane,Smith,West,Sales Rep.,1979-03-10,1998-07-14,7109.8,7
22,123,Jones,Mike,North,Sales Mgr.,1980-10-14,1999-02-27,16802.6,8
23,124,Corrs,David,East,Sales Exec.,1976-05-02,2002-03-18,11574.8,6
24,125,James,Sarah,West,Sales Exec.,1976-07-22,2004-04-18,10990.2,3
25,126,Smith,James,North,Sales Rep.,1974-04-06,2004-01-04,7930.2,8
26,127,Romo,Georgie,South,Sales Rep.,1974-08-20,2005-04-26,7004.0,4
27,128,Hynes,Tammy,West,Sales Rep.,1975-04-12,2009-02-15,7010.2,9
28,129,Blankinship,Ronna,East,Sales Rep.,1971-04-13,2002-07-19,7256.0,4
29,130,Meda,Posey,North,Sales Rep.,1968-03-05,2008-05-04,7543.6,6
30,131,Rodolfo,Maultsby,North,Sales Exec.,1971-05-01,1999-09-16,8390.6,9
31,132,Keiko,Quigley,South,Sales Mgr.,1970-08-28,2009-09-08,19464.6,9
32,133,Alita,Demarco,South,Sales Rep.,1970-07-18,2006-03-03,7419.4,10
33,134,Cameron,Cofer,East,Sales Rep.,1975-04-15,2010-02-17,7949.2,6
34,135,Terra,Rocca,West,Sales Rep.,1970-06-22,2008-08-24,7869.8,4
35,136,Phil,Parisi,North,Sales Rep.,1971-01-26,2000-10-20,6430.4,4
36,137,Paulina,Geren,South,Sales Exec.,1971-06-21,2006-02-10,10220.4,9
37,138,Kelvin,Pekar,East,Sales Exec.,1977-06-17,2003-08-28,8713.2,8
38,139,Velia,Fetty,West,Sales Mgr.,1972-05-15,2010-02-07,13112.8,10
39,140,Andres,Vicks,West,Sales Exec.,1971-07-25,2008-11-03,10274.2,7
40,141,Heidi,Kasten,South,Sales Rep.,1972-07-29,1999-02-02,7245.6,8
41,142,Ora,Sorge,South,Sales Rep.,1971-07-20,2000-11-04,7009.8,9
42,143,Ocallaghan,Richard,North,Sales Rep.,1969-10-24,2006-07-29,6943.8,7
43,144,Euna,Bono,North,Sales Exec.,1968-08-17,2005-09-16,11874.6,3
44,145,Toshia,Garett,South,Sales Exec.,1978-05-04,2007-01-30,8842.2,9
45,146,Zetta,Zimmerer,West,Sales Rep.,1977-03-05,2009-02-10,6599.0,3
46,147,Loise,Imler,East,Sales Rep.,1969-12-28,2001-07-13,6885.4,7
47,148,Kaci,Queen,East,Sales Mgr.,1968-10-06,2002-10-08,22674.2,9