In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
# import pandas.util.testing as tm; tm.N = 3

# # creating a unpivoted function
# def unpivot(frame):
#     N, K = frame.shape
    
#     data = {'value':frame.values.ravel('F'),
#            'variable':np.asarray(frame.columns).repeat(N),
#            'data':np.title(np.asarray(frame.index), K)}
    
#     return DataFrame(data, columns=['data','variable','value'])

# dframe = unpivot(tm.makeTimeDataFrame())

In [4]:
import pandas.util.testing as tm
import numpy as np
from pandas import DataFrame

tm.N = 3

# creating an unpivot function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value': frame.values.ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'data': np.tile(np.asarray(frame.index), K)}
    
    return DataFrame(data, columns=['data', 'variable', 'value'])

dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe

          data variable     value
0   2000-01-03        A -2.382389
1   2000-01-04        A  0.781275
2   2000-01-05        A -1.525299
3   2000-01-06        A -0.747302
4   2000-01-07        A  0.065733
..         ...      ...       ...
115 2000-02-07        D  0.462213
116 2000-02-08        D  1.020651
117 2000-02-09        D -0.545171
118 2000-02-10        D  0.518878
119 2000-02-11        D  1.407325

[120 rows x 3 columns]

In [8]:
dframe_piv = dframe.pivot('data','variable','value')

In [9]:
dframe_piv

variable           A         B         C         D
data
2000-01-03 -2.382389  0.759100 -0.018141 -0.809789
2000-01-04  0.781275 -0.563225 -1.108989  2.080792
2000-01-05 -1.525299 -1.490606 -0.092132 -1.273918
2000-01-06 -0.747302  2.064709 -0.589125  1.283565
2000-01-07  0.065733 -1.115007  0.310016  0.745346
2000-01-10 -0.721358 -1.057596 -0.628036 -0.747079
2000-01-11 -0.874865  0.179298 -0.654718 -1.920256
2000-01-12  0.653131  0.448077  0.602138  0.872065
2000-01-13  0.225599  2.468721 -0.396825 -0.217260
2000-01-14 -0.841466 -0.816739  0.975154 -0.150453
2000-01-17  1.781285 -0.928599  0.760180  0.550361
2000-01-18 -1.045492  0.095230  0.978906 -0.187518
2000-01-19  1.309622 -0.562200 -0.588625  0.280429
2000-01-20  0.988834  1.152303  1.075374  0.229702
2000-01-21 -1.555474  0.165966  0.126629  1.118772
2000-01-24  1.955265  0.778817 -0.707764  0.317068
2000-01-25  1.408423 -1.267445  0.973740 -1.834197
2000-01-26 -0.122030  0.357906  0.230995  0.360860
2000-01-27  0.226757 -0.243516  1.152183  0.140566
2000-01-28  0.326036 -2.535437 -0.928219 -1.514136
2000-01-31  0.111540  0.008439  0.595979 -0.942963
2000-02-01 -0.738089  0.617883  1.165534  0.849166
2000-02-02 -0.999800 -0.085012  0.489658 -1.719368
2000-02-03  0.925418 -0.350490 -0.920978  0.528225
2000-02-04  0.204501  0.120670 -1.639146  1.271829
2000-02-07 -0.536588 -0.179289 -0.588224  0.462213
2000-02-08  0.121674 -1.540136 -0.729493  1.020651
2000-02-09 -0.025538  0.197593 -1.320983 -0.545171
2000-02-10 -1.470336  0.340316 -0.565005  0.518878
2000-02-11  0.438322 -0.478047 -1.200776  1.407325